<%= form_with(model: history, local: true) do |form| %>
  <% if history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :production_id %>
    <%= form.number_field :production_id, id: :history_production_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :history_user_id %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count, id: :history_count %>
  </div>

  <div class="field">
    <%= form.label :sum %>
    <%= form.number_field :sum, id: :history_sum %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
